<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josh VanderMeer's Personal Website</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to a CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-image">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <h1 class="name">Josh VanderMeer</h1>

        <footer>
            <p>2024 Josh VanderMeer</p>
        </footer>
    </div>
</body>
</html>